# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack
Chromaticrack/serverpack/packwiz.exe
Chromaticrack/clientpack/packwiz.exe
Chromaticrack/clientpack/.packwizignore
Chromaticrack/serverpack/.packwizignore
