# Configuration file

general {
    # Whether to enable the library system for sharing tails. This mostly matters on servers. [default: true]
    B:"Enable Library"=true

    #  [default: Local Players data. Delete to remove all customisation data. Do not try to edit manually]
    S:"Local Player Data"={"partInfos":[{"hasPart":true,"typeid":1,"subid":1,"tints":[-8700160,-14018812,-16777216],"textureID":0,"partType":"TAIL"},{"hasPart":false,"typeid":0,"subid":0,"tints":[-65536,-16711936,-16776961],"textureID":0,"partType":"EARS"},{"hasPart":true,"typeid":0,"subid":0,"tints":[-11656440,-8700160,-16777216],"textureID":2,"partType":"WINGS"}]}
}


